.edit{
    display: inline-block;
    height: 90vh;
    width: 24vw;
    margin-right: 1vh;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 2vh;
}

.editimage{
    margin: 50px;
    height: 200px;
    width: auto;
    border: 1px solid black;
    padding: 10px;
}